[submodule "app/scripts/GroupManager"]
	path = app/scripts/GroupManager
	url = https://github.com/W1ndys-bot/GroupManager.git
	branch = main
[submodule "Bot-json"]
	path = Bot-json
	url = https://github.com/W1ndys-bot/Bot-json.git
	branch = main
[submodule "Crypto"]
	path = app/scripts/Crypto
	url = https://github.com/W1ndys-bot/Crypto.git
	branch = main
[submodule "app/scripts/Crypto"]
	path = app/scripts/Crypto
	url = https://github.com/W1ndys-bot/Crypto.git
	branch = main
[submodule "app/scripts/Tools"]
	path = app/scripts/Tools
	url = https://github.com/W1ndys-bot/Tools
	branch = main
[submodule "app/scripts/QASystem"]
	path = app/scripts/QASystem
	url = https://github.com/W1ndys-bot/QASystem
	branch = main
[submodule "app/scripts/BlacklistSystem"]
	path = app/scripts/BlacklistSystem
	url = https://github.com/W1ndys-bot/BlacklistSystem
	branch = main
[submodule "app/scripts/Example"]
	path = app/scripts/Example
	url = https://github.com/W1ndys-bot/Example
	branch = main
[submodule "app/scripts/BanWords"]
	path = app/scripts/BanWords
	url = https://github.com/W1ndys-bot/BanWords
	branch = main
[submodule "app/scripts/InviteChain"]
	path = app/scripts/InviteChain
	url = https://github.com/W1ndys-bot/InviteChain
	branch = main
[submodule "app/scripts/WelcomeFarewell"]
	path = app/scripts/WelcomeFarewell
	url = https://github.com/W1ndys-bot/WelcomeFarewell
	branch = main
[submodule "app/scripts/SoftBan"]
	path = app/scripts/SoftBan
	url = https://github.com/W1ndys-bot/SoftBan.git
	branch = main
[submodule "app/scripts/QFNUTracker"]
	path = app/scripts/QFNUTracker
	url = https://github.com/W1ndys-bot/QFNUTracker
	branch = main
[submodule "app/scripts/Custom"]
	path = app/scripts/Custom
	url = https://github.com/W1ndys-bot/Custom
	branch = main
[submodule "app/scripts/LockGroupCard"]
	path = app/scripts/LockGroupCard
	url = https://github.com/W1ndys-bot/LockGroupCard.git
	branch = main
[submodule "app/scripts/SendAll"]
	path = app/scripts/SendAll
	url = https://github.com/W1ndys-bot/SendAll.git
	branch = main
[submodule "app/scripts/KeywordsReply"]
	path = app/scripts/KeywordsReply
	url = https://github.com/W1ndys-bot/KeywordsReply.git
	branch = main
[submodule "app/scripts/CollectTheSun"]
	path = app/scripts/CollectTheSun
	url = https://github.com/W1ndys-bot/CollectTheSun
	branch = main
[submodule "app/scripts/GoToEat"]
	path = app/scripts/GoToEat
	url = https://github.com/W1ndys-bot/GoToEat.git
	branch = main
[submodule "app/scripts/ImageGenerate"]
	path = app/scripts/ImageGenerate
	url = https://github.com/W1ndys-bot/ImageGenerate
	branch = main
[submodule "app/scripts/ClassTable"]
	path = app/scripts/ClassTable
	url = https://github.com/W1ndys-bot/ClassTable.git
	branch = main
[submodule "app/scripts/LinkGroup"]
	path = app/scripts/LinkGroup
	url = https://github.com/W1ndys-bot/LinkGroup.git
	branch = main