[submodule "app/scripts/GroupManager"]
	path = app/scripts/GroupManager
	url = https://github.com/W1ndys-bot/GroupManager.git
[submodule "Bot-json"]
	path = Bot-json
	url = https://github.com/W1ndys-bot/Bot-json.git
[submodule "Crypto"]
	path = app/scripts/Crypto
	url = https://github.com/W1ndys-bot/Crypto.git
[submodule "app/scripts/Crypto"]
	path = app/scripts/Crypto
	url = https://github.com/W1ndys-bot/Crypto.git
[submodule "app/scripts/Tools"]
	path = app/scripts/Tools
	url = https://github.com/W1ndys-bot/Tools
[submodule "app/scripts/QASystem"]
	path = app/scripts/QASystem
	url = https://github.com/W1ndys-bot/QASystem
[submodule "app/scripts/Menu"]
	path = app/scripts/Menu
	url = https://github.com/W1ndys-bot/Menu.git
[submodule "app/scripts/BlacklistSystem"]
	path = app/scripts/BlacklistSystem
	url = https://github.com/W1ndys-bot/BlacklistSystem
[submodule "app/scripts/Example"]
	path = app/scripts/Example
	url = https://github.com/W1ndys-bot/Example
[submodule "app/scripts/GroupSwitch"]
	path = app/scripts/GroupSwitch
	url = https://github.com/W1ndys-bot/GroupSwitch
[submodule "app/scripts/BanWords"]
	path = app/scripts/BanWords
	url = https://github.com/W1ndys-bot/BanWords
[submodule "app/scripts/InviteChain"]
	path = app/scripts/InviteChain
	url = https://github.com/W1ndys-bot/InviteChain
[submodule "app/scripts/WelcomeFarewell"]
	path = app/scripts/WelcomeFarewell
	url = https://github.com/W1ndys-bot/WelcomeFarewell
